({if $admin_info.view=='list'})
<div class="col-02"><!-- 右邊內容區塊 -->
       <div class="right-main">
       
<div class="content-box" id="content_bg">
	<h2 class="funtion-title">後台帳號清單<!-- 頁面標題 -->         </h2>
    
  <div class="page-tool">
	  <a href="#" onClick="javescript:$('#form').submit();"><img src="images/icon05.png" width="32" height="32" alt="儲存"/>儲存</a>
	  <a href="?id=0"><img src="images/icon06.png" width="32" height="32" alt="新增"/>新增</a>
      <a href="#" onclick="Edit('({$admin_info.page})&id=')"><img src="images/icon14.png" width="32" height="32" alt=""/>編輯</a>
      <a href="javascript:Del('({$admin_info.page})&del_id=');"><img src="images/icon13.png" width="32" height="32" alt="">刪除</a>
  </div>
  <!--div id="title"-->


<!--SEARCH-->
         <div class="search-tool" id="search"><!-- 搜尋模組 -->
({include file=$search_form})
		</div>
<!--SEARCH-->


<div id="content_inside">
<form action="" method="post" id="form" name="form">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_content">
  	<tr bgcolor="#EEEEEE">
  		<th align="right" width="2%"><input type="checkbox" id="allbox" name="allbox" 
		onclick="CheckAll('allbox','choose_id')"/></th>
  		<th>帳號</th>
		<th>群組</th>
		<th>姓名</th>
		<th>狀態</th>
		<th>建立時間</th>
		<th>維護時間</th>
		

  	</tr>
	
	({section name=idex loop=$data})
   <tr >
      <td align="right" ><input type="checkbox" id="choose_id" value="({$data[idex].id})" name="choose_id" /></td>
      <td ><a href="({$admin_info.page})&id=({$data[idex].id})">({$data[idex].account})</a></td>
	  <td>({$data[idex].group_html})</td>
	  <td>({$data[idex].name})</td>
	  <td >({$data[idex].status_html})</td>
	  <td >({$data[idex].create_name}) 於 ({$data[idex].create_date})</td>
	  <td >({$data[idex].update_name}) 於 ({$data[idex].update_date})</td>

    </tr>
    ({/section})
	
  </table>
  <br />
  <input name="act" type="hidden" value="all" />
</form>
({include file=$page_table_html})
</div><!--div id="content_inside"-->




</div><!--div id="content_bg"-->
</div>
</div>

<script>
page_initial('table_content');
</script>


<!--頁數呈現table-->



({/if})


({if $admin_info.view == 'detail'})
<div class="col-02"><!-- 右邊內容區塊 -->
       <div class="right-main">
       
<div class="content-box" id="content_bg">
	<h2 class="funtion-title">後台帳號明細<!-- 頁面標題 -->         </h2>
    <div class="page-tool">
    <a onclick="javascript:window.history.back(-1);"><img src="images/icon14.png" width="32" height="32" alt="返回"/>返回</a>

    ({if $data.id})
      ({if $close.edit!=1})<a  onClick="if (check_form()) $('#form').submit();"><img src="images/icon05.png" width="32" height="32" alt="儲存"/>儲存</a>({/if})
     ({else})
      ({if $close.add!=1})<a onClick="if (check_form()) $('#form').submit();"><img src="images/icon06.png" width="32" height="32" alt="新增"/>新增</a>({/if})
    ({/if})
     </div>
  <!--div id="title"-->


<!--SEARCH-->
<!--SEARCH-->

<script>
function check_form(){
	if ($('[name="password"]').val()!='' && $('[name="password"]').val().length<6) {alert('密碼長度需大於六位數');return false;}
	if ($('[name="password"]').val()!='' && ($('[name="password_2"]').val()!=$('[name="password"]').val())) {alert('兩次密碼需相同'); return false;}
	return true;
}
</script>

<div id="content_inside">
<form action="" method="post" id="form" name="form">


  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_content">
    <tr >
      <td width="90" align="right" >帳號：</td>
      <td >
	  <input type="text" name="account" id="account" value="({$data.account})" 
	  ({if $data.account}) disabled="disabled" ({/if}) />
        </td>
    </tr>
	
	<tr >
      <td width="90" align="right" >帳號群組：</td>
      <td >
	 <select name="group_id">
	 	({$data.group_html})
	 </select>
        </td>
        </td>
    </tr>
	
	 <tr >
      <td  align="right" >姓名：</td>
      <td >
	  <input type="text" name="name" id="name" value="({$data.name})"  />
        </td>
    </tr>
	
	

	 <td align="right" >密碼：</td>
      <td >
	  <input type="password" name="password" id="password"   />不修改密碼空白即可
       </td>
    </tr>

	<tr>
	<td align="right" >密碼確認：</td>
      <td >
	  <input type="password" name="password_2" id="password_2"  />
        </td>
    </tr>
	
    
    <tr>
	<td align="right" >信箱：</td>
      <td >
	  <input type="text" name="email" value="({$data.email})" />
        </td>
    </tr>
    
    <tr>
	<td align="right" >推廣路徑：</td>
      <td >
	 	({$data.url})
      </td>
    </tr>
    
	 <tr >
      <td align="right" >狀態：</td>
      <td >
	({$data.status_html})
	 </td>
    </tr>
	
	<tr >
      <td align="right" >建立時間：</td>
      <td >
	 ({$data.create_name}) 於 ({$data.create_date}) 建立
	 </td>
    </tr>
	
	<tr >
      <td align="right" >最後維護時間：</td>
      <td >
	 ({$data.update_name}) 於 ({$data.update_date}) 維護
	 </td>
    </tr>

	<input name="act" type="hidden" value="submit" />


  </table>

 
  <br />
</form>

</div>


</div><!--div id="content_inside"-->


</div><!--div id="content_bg"-->
</div>
</div>


<script>
page_initial('table_content');//tr交互顯示顏色
//$('#tabs').tabs();
</script>
({if $data.account == NULL }) 
<script>
var sumbit=false;
	$(document).ready(function() {
	
		var validator=$('#form').validate( {  
			event: "keyup",
			debug:  false,   
			rules:{
				account:{required:true,minlength: 4,maxlength: 12},
				id_number:{required:true},
				name:{required:true},
				post_date:{required:true},
				card_no:{required:true},
				card_pass:{required:true},
				price:{required:true,digits:true},
				count:{required:true,digits:true},
				password:{required:true},
				t_password:{required:true},
				password_2:{equalTo:'#password',minlength: 4,maxlength: 12},
				t_password_2:{equalTo:'#t_password',minlength: 4,maxlength:12}
			},
			messages:{
				account:{required:"* 不可空白",minlength:"密碼不可少於4位",maxlength:"密碼不可超過12位"},
				id_number:{required:"* 不可空白"},
				name:{required:"* 不可空白"},	
				post_date:{required:"* 不可空白"},
				card_no:{required:"* 不可空白"},
				card_pass:{required:"* 不可空白"},
				price:{required:"* 不可空白",digits:"* 必需是數字,不能有小數點或是負數"},
				count:{required:"* 不可空白",digits:"* 必需是數字,不能有小數點或是負數"},
				password:{required:"* 不可空白"},
				t_password:{required:"* 不可空白"},
				password_2:{equalTo:"* 密碼確認不符",minlength:"密碼不可少於4位",maxlength:"密碼不可超過12位"},
				t_password_2:{equalTo:"* 密碼確認不符",minlength:"密碼不可少於4位",maxlength:"密碼不可超過12位"}
			},        
			submitHandler:function(form){	//送出前的自訂處理
				if(sumbit==false)
				{	
						<!--ajx 判斷帳號是否重覆 start-->
						$.ajax( {
							//傳遞目標頁面檔案
							url: "ajx.php",
							type: 'GET',
							data: {
								//傳遞 變數名稱:值
								account : $('#account').val(),
								password : $('#password').val(),
								call : 'admin.html'
							},
								error: function(xhr) {
								alert('Ajax request 發生錯誤');
							},
							success: function(response) {
								//回傳物件名稱
								if(response == 'eregi_error')
								{
									alert('輸入資料格式有誤，不可夾帶特殊符號。');
									return 0;
								}
								
								if(response == 1)
								{
									alert('此帳號已存在');
								}
								else
								{
									form.submit();
									sumbit=true;
								}
							}
						} );
						<!--ajx 判斷帳號是否重覆 end-->
				}
			}
		} );	
	} );
	

	
</script>
({/if})




({/if})