({if $admin_info.view == 'list'})
<script>
$(document).ready(function(){
	$('[name="keyword"]').val( decodeURIComponent(Get("keyword")) );
	$('[name="daterange"]').val( Get("daterange") );

	$('#SearchBtn').click(function(){
		if( $('[name="daterange"]').val().split("-")[1]!=null)
		{
			var daterange = $.trim( $('[name="daterange"]').val().split("-")[0] ) + "-" + $.trim( $('[name="daterange"]').val().split("-")[1] );
			
			$('[name="daterange"]').val( daterange );
		}
		
		$('#search_form').submit();
	});

});
</script>
<div class="col-02"><!-- 右邊內容區塊 -->
       <div class="right-main">
       
<div class="content-box" id="content_bg">

         <h2 class="funtion-title">({$admin_info.title})<!-- 頁面標題 -->         </h2>
         <div class="page-tool">
        ({if $close.insert!=1})<a href="({$admin_info.page})&id=0"><img src="images/icon06.png" width="32" height="32" alt="新增"/>新增</a>({/if})
        ({if $close.edit!=1})<a onclick="Edit('({$admin_info.page})&id=')"><img src="images/icon14.png" width="32" height="32" alt=""/>編輯</a>({/if})<!-- 模組新增修改刪除列 -->
        ({if $close.edit!=1})<a onClick="javescript:$('#form').submit();"><img src="images/icon05.png" width="32" height="32" alt="儲存"/>儲存</a>({/if})
        <a href="javascript:Del('({$admin_info.page})&del_id=');"><img src="images/icon13.png" width="32" height="32" alt="">刪除</a>
         </div>
         


<!--SEARCH-->
         <div class="search-tool" id="search"><!-- 搜尋模組 -->
         <form action="" method="get" id="search_form" name="search_form">

            <table height="19px">
            <tr>
            <td>關鍵字查詢</td>
            <td width="200">
            <input type="text" name="keyword" value="({$data.pageget.keyword})" />
            </td>
            <td>
            建立日期<input type="text" name="daterange"  readonly size="25" >
            <script>Datepick('[name="daterange"]',"range","yyyy.mm.dd");</script>
            
            
            
            
            <select name="s_status" >
                ({$admin_info.search.status})
            </select>
            
            ({$admin_info.search.other_html})
              
              ({if $data.pageget.class!=null})<input type="hidden" name="class" value="({$data.pageget.class})">({/if})
              ({if $data.pageget.mode!=null})<input type="hidden" name="mode" value="({$data.pageget.mode})">({/if})
              ({if $data.pageget.type!=null})<input type="hidden" name="type" value="({$data.pageget.type})">({/if})
              <img src="images/icon-search.png" width="18" height="18" id="SearchBtn"/>
              </td></tr></table>
         </form>
         </div>
<!--SEARCH-->


<div id="content_inside" style="clear:both;">
<form action="" method="post" id="form" name="form">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style01">
  	<tr>
  		<th align="center" width="60">刪除 <input type="checkbox" id="allbox" name="allbox" 
		onclick="CheckAll('allbox','choose_id')"/></th>
		<th>項目</th>
		({if $close.sort!=1})<th>排序</th>({/if})
		<th>狀態</th>
		<th>建立時間</th>
		<th>維護時間</th>
		

  	</tr>
	
	({section name=idex loop=$data.list})
   <tr class="tr_sort" title="可拖曳進行排序">
      <td align="center" ><input type="checkbox" id="choose_id" value="({$data.list[idex].id})" name="choose_id" /></td>
	  
		<td ><a href="({$admin_info.page})&id=({$data.list[idex].id})">({$data.list[idex].name})</a></td>
	  
	  
    ({if $close.sort!=1})  
        <td align="center">
              <input type="text" name="sort_({$data.list[idex].id})" id="sort_({$data.list[idex].id})" size="2" value="({$data.list[idex].sort})" 
              onmouseup="sort_act=2" onmousedown="sort_act=2"/> ({$data.list[idex].up}) ({$data.list[idex].down})
              </td>
    ({/if})
	
	  
	  <td >({$data.list[idex].status_html})</td>
	  
	  <td >({$data.list[idex].create_name}) 於 ({$data.list[idex].create_date})</td>
	  
	  <td >({$data.list[idex].update_name}) 於 ({$data.list[idex].update_date})</td>
	  
	  

  </tr>
    ({/section})
	
  </table>
  <br>
({include file=$page_table_html})
  <div class="page-tool-note">項目作用:建立後可使用表單自動存檔功能</div>
  <input name="act" type="hidden" value="all" />
  </form>
</div><!--div id="content_inside"-->







</div><!--div id="content_bg"-->
</div>
</div>
<script>
page_initial('table-style01');
</script>


<!--頁數呈現table-->



</div>
({/if})



({if $admin_info.view == 'detail'})
<script language="javascript" src="../includes/js/jquery-ui.js"></script>
<div class="col-02"><!-- 右邊內容區塊 -->
       <div class="right-main">
       
<div class="content-box" id="content_bg">

         <h2 class="funtion-title">({$admin_info.title})<!-- 頁面標題 -->         </h2>
         <div class="page-tool">
        <a onclick="javascript:window.history.back(-1);"><img src="images/icon14.png" width="32" height="32" alt="返回"/>返回</a>

        ({if $data.one.id!=null})
          ({if $close.edit!=1})<a  onClick="$('#form').submit();"><img src="images/icon05.png" width="32" height="32" alt="儲存"/>儲存</a>({/if})
         ({else})
          ({if $close.add!=1})<a onClick="$('#form').submit();"><img src="images/icon06.png" width="32" height="32" alt="新增"/>新增</a>({/if})
        ({/if})
         </div>
         
 <!--div id="title"-->




<!--SEARCH-->
<!--SEARCH-->



<div id="content_inside">



<form action="" method="post" id="form" name="form" enctype="multipart/form-data" onsubmit="checkform();">
<div id="tabs">
<ul>
	<li><a href="#tabs-1">詳細內容</a></li>
    <!--<li><a href="#tabs-2">按鈕設定</a></li>-->
</ul>

<div id="tabs-1">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_content">
  
  	<tr>
	<td align="right" >項目名稱：</td>
		  <td width="80%">
				<input type="text" name="name" value="({$data.one.name})">
		   </td>
	</tr>
    <tr>
	<td align="right" >命名別名(請勿重複)：</td>
		  <td width="80%">
				<input type="text" name="b_name" value="({$data.one.b_name})">
		   </td>
	</tr>
    <tr>
	<td align="right" >欄位資料：</td>
		  <td width="80%">
          <div items>
          		({section name=m loop=$data.one.detail})
				<div style="border:dashed 2px gray;">
                	資料欄位命名:<input type="text" name="detail[]" value="({$data.one.detail[m]})"><br>
                    顯示名稱:<input type="text" name="memo[]" value="({$data.one.memo[m]})"><br>
                    為列表項目:<select name="b_value[]"><option value="0">否</option><option value="1" ({if $data.one.b_value[m]=='1'}) selected="selected"({/if})>是</option></select>
                </div>
                ({/section})
          </div>
          <input type="button" value="增加一個項目" onclick="addrow()">
		   </td>
	</tr>
  </table>
  <script>
 $(function() {
    $( 'div[items]' ).sortable( {items: 'div'} );
    //$( sortmain ).disableSelection();
  });
  function addrow(){
	  $('div[items]>div:last').after($('div[items]>div:last').clone());
  }
  </script>
	</div><!-- tabs-1 -->
</div>

<br>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style01">
	 <tr >
      <td align="right" width="150">狀態：</td>
      <td >
	({$data.one.status_html})
	 </td>
    </tr>


	<tr >
      <td align="right" >建立時間：</td>
      <td >
	 ({$data.one.create_name}) 於 ({$data.one.create_date}) 建立
	 </td>
    </tr>


	<tr >
      <td align="right" >最後維護時間：</td>
      <td >
	 ({$data.one.update_name}) 於 ({$data.one.update_date}) 維護
	 </td>
    </tr>
	
	
	<input name="type" type="hidden" value="form_set" />
	<input name="act" type="hidden" value="submit" />
	<input name="id" type="hidden" value="({$data.one.id})" />
    <input name="member_id" type="hidden" value="({$admin_info.member.id})">
	({$data.tages})
    </table>
  <br />
</form>

</div>


</div><!--div id="content_inside"-->


</div><!--div id="content_bg"-->
</div>
</div>

<script>
page_initial('table_content');//tr交互顯示顏色
$('#tabs').tabs();

function checkform(){
	//--絕對路徑連結
	if ($('[name="href[]"]').length>0){
		$('[name="href[]"]').each(function (idx,obj){
			if ($(obj).val()!=null && $(obj).val()!=''){
				if ($(obj).val().split('//').length != 2){
					$(obj).val('//'+$(obj).val());
				}
			}
		});
	}
	if ($('[name="href"]').length>0 && $('[name="href"]').val()!=null && $('[name="href"]').val()!=''){
		if ($('[name="href"]').val().split('//').length != 2){
			$('[name="href"]').val('//'+$('[name="href"]').val());
		}
	}

}

</script>



({/if})