<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
<title>({$set.0.detail})::後台管理系統</title>
({$web_css})
<script type="text/javascript" src="../includes/js/jquery.js"></script>
<script type="text/javascript" src="../includes/js/jquery-ui.js"></script>
<script type="text/javascript" src="../includes/js/jquery.validate.js" ></script><!--JQ驗證用套件-->

<script type="text/javascript" src="../includes/js/func_back_js.js" ></script><!--自定後台js-->

<script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js"></script>



<link href="style/ui.all.css" rel="stylesheet" type="text/css" /><!--tabs分頁用-->
<link href="style/style.css" rel="stylesheet" type="text/css" media="all" /><!--ccs呈現效果-->
<link href="style/J_autoview.css" rel="stylesheet" type="text/css" media="screen and (max-width:750px)">
<link href="../includes/js/datepick/jquery.datepick.css" rel="stylesheet" type="text/css"><!--datepick-->
<link href="../includes/js/datepick/timePicker.css" rel="stylesheet" type="text/css"><!--timePicker-->


</head>

<body>
<script>
//--後台式樣管理
serback_style();
function serback_style(){
	if (window.localStorage.getItem("serback_style")!=null && window.localStorage.getItem("serback_style")!="default"){
		$('body').append('<link href="style/'+window.localStorage.getItem("serback_style")+'.css" rel="stylesheet" type="text/css" media="all" />');
	}
}
$(document).ready(function (){
	$('select[serback_style]').val(window.localStorage.getItem("serback_style")).on('change',function (){
		window.localStorage.setItem('serback_style',$(event.target).val());
		window.location.reload();
	});
});
</script>
<div msgdiago style="position:fixed; width:100%; height:100%; z-index:800; text-align:center; display:none;" onclick="hide_design_msg()">
	<div style="position:absolute;background-color:#FFF; width:60%; height:60%; z-index:801; display:table; margin: 10% calc(50% - 30%);">
    	<div style=" display:table-cell; vertical-align:middle;"><b style="font-size:24px;">右上方引導式編輯，可供您直接做前端預覽編輯畫面</b><br>
        <input type="checkbox" onclick="window.localStorage.setItem('no_to_desing_msg','1');">不再提示此訊息</div>
    </div>
    <div style="position:absolute;background-color:black; width:100%; height:100%; opacity:0.65;">
    </div>
</div>
<script>
	if (window.localStorage.getItem('no_to_desing_msg')==null) $('div[msgdiago]').show();
	function hide_design_msg(){
		$('div[msgdiago]>div:first').animate({
			left:'80%',
			top:'-20%',
			width:'5%',
			height:'5%',
			opacity:'0'
		},'slow',function (){
			$('div[msgdiago]').remove();
			$('a[design_btn]').fadeOut('slow').fadeIn('slow').fadeOut('slow').fadeIn('slow');
		})
	};
</script>
<div id="warper">

<div class="header"><!-- head -->

   <div style=" position:relative;">
        <div class="logo"><a href="index.php" style="color:#CDB964;">({$set.0.detail})</a></div>
        <div class="logo-slogan">網站後台管理系統</div>
        <div class="login-person clearfix">
             <a href="login.php" class="logout">登　　出</a>
             <a href="../" design_btn onclick="return open_ser_editor();" target="_blank" class="outlay" sereditor>引導式編輯</a>
             <script>
			 	function open_ser_editor(noset){
					 if (window.localStorage.getItem('serback_editor')==null){
						 if (typeof(noset)=="undefined")
						 	$('a[sereditor]').css('background','#FABA0F');
						 else
						 	$('a[sereditor]').css('background','#60563b');
							
						 if (typeof(noset)=="undefined") window.localStorage.setItem('serback_editor',1);
					 }else{
						 if (typeof(noset)=="undefined") 
						 	$('a[sereditor]').css('background','#60563b');
						 else
						 	$('a[sereditor]').css('background','#FABA0F');
						
						if (typeof(noset)=="undefined") window.localStorage.removeItem('serback_editor');
						return false;
					 }							
				}
			 </script>
             <a href="../" target="_blank" class="outlay">前端預覽</a>
             ({if $data.data_temp!=null})
             <a href="javascript:;" class="outlay" onClick="if (confirm('是否還原先前修改動作?\r\n請注意已刪除的圖片並無法回復!!')) {window.location.href='({$data.data_temp})';}" style="width:30px;">還原</a>
             ({/if})
             <div class="person-info">使用者: <span class="person">({$admin_info.name}) (({$admin_info.account}))</span> 登入時間 ({$admin_info.login_date})
              ({if $admin_info.lang_title!=null})[管理語系:({$admin_info.lang_title})]({/if}) [權限:({$admin_info.control})]
             </div>
             <div class="use-space" ({if $admin_info.file_size_bar!='1'})style="display:none;"({/if})>
                網站使用空間 : <span>({$admin_info.file_size_total})</span>
                <div class="use-percent-box" title="已使用:({number_format($admin_info.size_bar_width,1)})%">
                  <div class="use-percent-load" style="width:({$admin_info.size_bar_width})%;"></div><!-- 空間%數 -->
                </div>
                
                資料庫空間 : <span>({$admin_info.db_size_total})</span>
                <div class="use-percent-box" title="已使用:({number_format($admin_info.db_bar_width,1)})%">
                  <div class="use-percent-load" style="width:({$admin_info.db_bar_width})%;"></div><!-- 空間%數 -->
                </div>
             </div>

        </div>
   </div>
   </div>



({$menu})


<!--content_bg-->

({include file = $content })

<!--content_bg-->



<!--MENU-->


<!--MENU-->


</div><!--div id="content"-->
</div><!--div id="wrapper"-->

<div class="footer"> <!-- footer -->
      © 2014 POWER BY  <a href="vipcase.net.tw" target="_blank">WEB POWER ADVERTISING TECHNOLOGY CO.,LTD. </a>
      ({if $admin_info.chat==1})
      <div style="float: right;">
      <button onclick="$('#serback_dialog').dialog('open');">[Beta] Chat <span serback_online style="color:green;">●</span> <span serbackdialog_notload="0" style="color:red;"></span>
      </button>
      </div>
      ({/if})
  </div>

<div id="serback_dialog" title="後台在線管理者成員">
({section name=m loop=$admin_info.online})
	<div><span serback_online style="color:green;">●</span> ({$admin_info.online[m].name})(({$admin_info.online[m].account})) ({if $admin_info.online[m].id!=$admin_info.id})<button mbox="({$admin_info.online[m].id})" notload="0" onclick="serback_msgto('({$admin_info.online[m].id})','({$admin_info.online[m].name})');">對話</button>({/if})</div><br>
({/section})
<HR>
<font color=red>本對話功能為協助後台人員進行快速交流資訊所使用，資料庫採用memory cache的方式交談資料將不會留下來!!，重要訊息請記得妥善保管</font>
</div>
({if $admin_info.chat_resh_time})<script>var serback_chat_reshtime = ({$admin_info.chat_resh_time});</script>({/if})
({if $admin_info.chat==1})
<script type="text/javascript" src="../includes/js/chat.js"></script>
({/if})





<script>
///---針對chrom 記憶頁面的修正
if (window.name.indexOf("serback")<0 && window.parent==null) window.location.reload();
window.onbeforeunload = function (event){
		if (window.name.indexOf("serback")<0)
	    $.ajax( {
                url: "ajx.php",
                data: {logout:"1"},
                type:"GET",
                dataType:'JSON',
				async:false,
                success: function(msg){
                },

                 error:function(xhr, ajaxOptions, thrownError){
                 }
            });
}
</script>

<script>
var _menu_tg_px = 240;
$(document).ready(function (){
	$('.col-02').prepend('<img src="images/br_prev_icon.png" onclick="tgmenu(this);" style="border:1px #562424 solid; position:absolute;top:80px;">');
	open_ser_editor(1);
});
tgmenu = function (obj){
	if ($('.col-01:visible').length>0){
		$('.col-02').animate( {left:'0px'} );
		$('.col-01').animate( {left:(_menu_tg_px*-1)+'px' },function (){$(this).hide();});
		$(obj)[0].src = "images/br_next_icon.png";
	}else{
		$('.col-02').animate( {left:_menu_tg_px+'px'} );
		$('.col-01').show().animate( {left:'0px' });
		$(obj)[0].src = "images/br_prev_icon.png";
	}
}
</script>
</body>
</html>
