<div class="col-02"><!-- 右邊內容區塊 -->
       <div class="right-main">
       <div class="content-box"><!-- 編輯區塊 -->

       
         <h2 class="funtion-title">Mobi-system</h2>
         <!-- 頁面標題 -->

         <div class="page-layout clearfix" style="display:none;"><!--  網頁架構地圖  -->
           <ul>
                <li>
                  <div class="page-layout">
                  <a href="http://art.mobi.net.tw/serback/back-fun.php?action=editemplates&amp;page=product_detail.html" target="newe">product_list_product_list_detail.htm</a>
                  </div>
                   <div class="tool"> <a href="#"><img src="images/lay-icon-02.png" width="23" height="23"></a>
                      <a href="#"><img src="images/lay-icon-01.png" width="23" height="23"></a>
                      <a href="#"><img src="images/lay-icon-03.png" width="23" height="23"></a>
                      <a href="#"><img src="images/lay-icon-04.png" width="23" height="23" class="delet"></a>
                   </div>
             </li>
           </ul>
         </div>
         
         
         <div style="clear:both;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style01" style="margin:20px 0;">
  <tbody>
    <tr>
      <th width="150" align="center">&nbsp;</th>
      <th align="center">版本訊息</th>
      </tr>
    <tr>
      <td align="center">目前版本</td>
      <td>後台系統 PHP 5.3 版 (sv1.4)</td>
      </tr>
    <tr>
      <td align="center">版權聲明</td>
      <td>1、本系統為商業軟體；本軟體受智慧財產權法保護，任何單位或個人對本軟體進行盜版複製，必追究其法律責任!<br>
        2、您可以對本系統進行修改和美化，但必須保留完整的版權訊息，不得將修改後的版本用於任何商業目的；<br>
        3、本軟體受中華民國《著作權法》《計算機軟體保護條例》《智慧財產權法》等相關法律、法規保護，作者保留一切權利。<br>
        4、如有可能，請在您的網站上增加本站連接,謝謝﹗</td>
      </tr>
    <tr>
      <td align="center">特別聲明</td>
      <td>最近我們發現有人非法盜取程式，程式漏洞百出，安全性極差，更不要說提供升級服務，對盜用程式造成的損失，我們概不負責，我們忠告用戶，尊重智慧財產權。</td>
      </tr>
  </tbody>
  </table>

  
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table-style01">
              <tbody>
                <tr>
                  <th width="150" align="center">&nbsp;</th>
                  <th align="center">開發訊息</th>
                </tr>
                <tr>
                  <td align="center">程式製作</td>
                  <td>網動廣告科技(股)公司</td>
                </tr>
                <tr>
                  <td align="center">聯繫電話</td>
                  <td>02-25216998</td>
                </tr>
                <tr>
                  <td align="center">官方網站</td>
                  <td><a href="http://www.vipcase.net/" target="_blank">http://www.vipcase.net/</a></td>
                </tr>
              </tbody>
            </table>
 
         </div>
       
       
       
       
       
       
       
       </div><!-- 編輯區塊 -->
        </div>
       </div>
