
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

      <tr><td>

	

	    <table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>

    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" background="images/tb_bk03.jpg">

      <tr>

        <td width="13"><img src="images/tb_bk01.jpg" width="13" height="36" /></td>

        <td>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>

            <td width="51%" class="wd_num_01" align="left">
			顯示 ({$page_table.start_date}) - ({$page_table.end_date}) 筆，共 ({$page_table.page_date_count}) 筆
			</td>

            <td width="39%" align="right"><table border="0" cellspacing="0" cellpadding="3" >

              <tr>

                <td>
			
				<img src="images/up.jpg" width="52" height="20" style="cursor:pointer; vertical-align:middle;" 
				onclick="location='({$page_table.up_url})'" />
			
				</td>

                <td class="wd_num_02">({$page_table.now_page}) / ({$page_table.all_page}) </td>

                <td>
				
				<img src="images/down.jpg" width="52" height="20" style="cursor:pointer; vertical-align:middle;" 
				onclick="location='({$page_table.down_url})'" />
			
				</td>

              </tr>

            </table></td>

            <td width="5%" align="right">
			<select name='jump_page'  id='jump_page'  style='vertical-align:middle;width:50px;' 
			onchange="jump( '({$page_table.jump_page_url})',this.value)" >
			
			({$page_table.jump_page_html})
			
			</select>
			
			<script>//清單快速換頁用
				function jump(url,page)
				{
					location= url + "&page="+ page ;
				}
			</script>
			</td>

          </tr>

        </table></td>

        <td width="13"><img src="images/tb_bk02.jpg" width="13" height="36" /></td>

      </tr>

    </table></td>

  </tr>

  <tr>

    <td height="5"></td>

  </tr>

</table>





	  </td>

      </tr>

    </table>
