({if $admin_info.view == 'list'})
<script>
$(document).ready(function(){
	$('[name="keyword"]').val( decodeURIComponent(Get("keyword")) );
	$('[name="daterange"]').val( Get("daterange") );

	$('#SearchBtn').click(function(){
		if( $('[name="daterange"]').val().split("-")[1]!=null)
		{
			var daterange = $.trim( $('[name="daterange"]').val().split("-")[0] ) + "-" + $.trim( $('[name="daterange"]').val().split("-")[1] );
			
			$('[name="daterange"]').val( daterange );
		}
		
		$('#search_form').submit();
	});

});
</script>

<div id="content_bg">

  <div class="title"><span>({$admin_info.title})</span>
    <ul>
({if $close.edit!=1})<li class="save"><a  onClick="javescript:$('#form').submit();">儲存</a></li>({/if})
({if $close.add!=1})<li class="add"><a href="({$admin_info.page})&id=0">新增</a></li>({/if})
({if $close.edit!=1})<li class="edit"><a  onclick="Edit('({$admin_info.page})&id=')">編輯</a></li>({/if})
({if $close.del!=1})<li class="delete"><a  onclick="Del('({$admin_info.page})&del_id=')">刪除</a></li>({/if})
	<li class="save"><a  onClick="javescript:$('#search_form').submit();">匯出</a></li>
    </ul>
  </div>
  <!--div id="title"-->


<!--SEARCH-->

<form action="csv.php" method="post" id="search_form" name="search_form" target="_blank">
<div id="search">
<input type="hidden" name="title" value="帳戶,郵箱,分享視頻,分享時間,優惠卷序號,使用時間,來源商戶">
<input type="hidden" name="sql" value="select account,email,vname,createdate,checknum,uploaddate,mname from mallwed_preferential inner join (select id as vid,name as vname from mallwed_mvideo) as bb ON vid=vedioid inner join (select id as mid,name as mname,account,email from mallwed_member) as cc ON mid=forid">
<!--

關鍵字查詢<input type="text" name="keyword" />


建立日期<input type="text" name="daterange"  readonly size="25" >
<script>Datepick('[name="daterange"]',"range","yyyy.mm.dd");</script>




<select name="s_status" >
	({$admin_info.search.status})
</select>

  
  
  <img src="images/search_btn.jpg" width="50" height="20" id="SearchBtn"/>
  -->
 </div>
 </form>

<!--SEARCH-->


<div id="content_inside">
<form action="" method="post" id="form" name="form">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_content">
  	<tr bgcolor="#EEEEEE">
  		<td align="right" width="2%"><input type="checkbox" id="allbox" name="allbox" 
		onclick="CheckAll('allbox','choose_id')"/></td>
		<td width="10%">獲得總數總數</td>
  		<td>個人用戶帳號</td>
        <td>郵箱</td>
		<td>分享視頻</td>
		<td>分享時間</td>
		<td>優惠卷序列號</td>
        <td>使用時間</td>
		<td>來源商戶</td>
  	</tr>
	
	({section name=idex loop=$data.list})
    ({section name=lps loop=$data.list[idex].pref_list})
   <tr >
   ({if $smarty.section.lps.index=='0'})
      <td align="right" rowspan="({$data.list[idex].cont})"><input type="checkbox" id="choose_id" value="({$data.list[idex].id})" name="choose_id" /></td>
	  
      <td align="center" rowspan="({$data.list[idex].cont})"> ({$data.list[idex].cont}) </td>
	  
	  <td rowspan="({$data.list[idex].cont})">
      <a href="member.php?type=1&id=({$data.list[idex].member_self_id})" title="({$data.list[idex].member_self_name})">
      ({if $data.list[idex].member_self_account==null})
      (該用戶已被刪除)
      ({else})
      ({$data.list[idex].member_self_account})
      ({/if})
      </a>
      </td>
	  
      <td rowspan="({$data.list[idex].cont})">
      <a href="member.php?type=1&id=({$data.list[idex].member_self_id})" title="({$data.list[idex].member_self_name})">({$data.list[idex].member_self_email})</a>
      </td>
      
	({/if})
	  
	  
	  <td ><a href="mvideo.php?&id=({$data.list[idex].pref_list[lps].vid})">
      ({if $data.list[idex].pref_list[lps].vname!=null})
      ({$data.list[idex].pref_list[lps].vname})
      ({else})
      <font color="#FF0000">(此視頻已被刪除)</font>
      ({/if})
      </a></td>
	  
	  <td >({$data.list[idex].pref_list[lps].createdate})</td>
      
      <td ><a href="preferential.php?id=({$data.list[idex].pref_list[lps].id})">({$data.list[idex].pref_list[lps].checknum})</a></td>
	  
      <td >({$data.list[idex].pref_list[lps].uploaddate})</td>
      
      <td ><a href="member.php?id=({$data.list[idex].pref_list[lps].mid})">({$data.list[idex].pref_list[lps].mname})</a></td>
            
	 
	  

    </tr>
     ({/section})
    ({/section})
	
  </table>
  <br />
  <input name="act" type="hidden" value="all" />
</form>
</div><!--div id="content_inside"-->




</div><!--div id="content_bg"-->
<!--
<script>
page_initial('table_content');
</script>
-->

<!--頁數呈現table-->

({include file=$page_table_html})


({/if})



({if $admin_info.view == 'detail'})
<div id="content_bg">

  <div class="title"><span>({$admin_info.title})</span>
    <ul>
							<li class="back"><a  onClick="window.history.back();">返回</a></li>
      ({if $close.edit!=1})<li class="save"><a  onClick="$('#form').submit();">儲存</a></li>({/if})

	  ({if $close.add!=1})<li class="add"><a onClick="$('#form').submit();">新增</a></li>({/if})

    </ul>
  </div>
  <!--div id="title"-->




<!--SEARCH-->
<!--SEARCH-->



<div id="content_inside">



<form action="" method="post" id="form" name="form" enctype="multipart/form-data">


  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_content">
    
	<tr>
	<td width="110" align="right" >編號：</td>
		  <td >
		  ({$data.one.id})
		   </td>
	</tr>

	<tr >
	  <td  align="right" >優惠卷虛擬碼：</td>
	  <td > 
	  ({$data.one.checknum})
	  </td>
	</tr>

	 <tr >
      <td align="right" >優惠卷擁有人：</td>
      <td >
	({$data.one.name})
	 </td>
    </tr>

	 <tr >
      <td align="right" >分享視頻名稱：</td>
      <td >
	({$data.one.vname})
	 </td>
    </tr>
    
	 <tr >
      <td align="right" >視頻商戶：</td>
      <td >
	({$data.one.mfromname})
	 </td>
    </tr>
    <!--
    <tr >
      <td align="right" >QRCODE：</td>
      <td >
	<iframe src="../qrcode/test.php?qrcode=({$data.qrcode})" frameborder="0" scrolling="no" height="275">
    </iframe>
	 </td>
    </tr>
    -->
	 <tr >
      <td align="right" >狀態：</td>
      <td >
	 <select name="status">
      <option value="0" ({if $data.one.status == 0})selected({/if})>啟用</option>
      <option value="1" ({if $data.one.status != 0})selected({/if})>關閉</option>
    </select>
	 </td>
    </tr>


	<tr >
      <td align="right" >建立時間：</td>
      <td >
	  於 ({$data.one.createdate}) 建立
	 </td>
    </tr>


	<tr >
      <td align="right" >使用時間：</td>
      <td >
      ({if $data.one.status == 0})未使用({else})({$data.one.uploaddate})({/if})
	 </td>
    </tr>
	
	

	<input name="act" type="hidden" value="submit" />
	<input name="id" type="hidden" value="({$data.one.id})" />
	

  </table>

 
  <br />
</form>

</div>


</div><!--div id="content_inside"-->


</div><!--div id="content_bg"-->


<script>
page_initial('table_content');//tr交互顯示顏色
//$('#tabs').tabs();
</script>

({/if})




