<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /modelphp/
	ErrorDocument 400 /modelphp/erro401
	ErrorDocument 401 /modelphp/erro402
	ErrorDocument 403 /modelphp/erro403
	ErrorDocument 404 /modelphp/erro404
	ErrorDocument 500 /modelphp/erro500
	ErrorDocument 502 /modelphp/erro502
	RewriteRule ^erro(400|401|403|404|500|502)$ index.php?class=ErrorDocument&code=$1 [L]
	
	RewriteRule ^(.*)ckfinder/(.*)$ $1ckfinder/$2 [QSA,L]
	RewriteRule ^(.*).jsx(.*)$ $1.php$2 [L]
</IfModule>