({if $data.pageget.class==null})
<!--  EDM -->
<style>
.div_edm{
	height:405px;
	width:1000px;
	position:relative;
}
</style>
<div class="edm">
    <div class="div_edm" idx="1">
   <img src="images/edm/edm-bg.png" bg="1" left="10" top="0" mode="fadin" zindex="1"/>
   <!--<img src="images/edm/edm01-05.png" width="300" height="350" left="450" top="30" mode="fadin" zindex="10"/>-->
   <img src="images/edm/edm01-02.png" width="1000" height="1166" left="-50" top="-30" mode="amz" zindex="10" style="opacity:0;" effect="width:300px;height:350px;left:340;top:30;opacity:1;"/>
   <!--<img src="images/edm/edm01-03.png" left="320" top="90" mode="fadin" zindex="9"/>-->
   <img src="images/edm/edm01-05.png" left="670" top="80" width="200" mode="amz" zindex="9" style="opacity:0;" effect="left:600;opacity:1;"/>
   <img src="images/edm/edm01-04.png" width="200" left="130" top="100" mode="amz" zindex="7"  style="opacity:0;" effect="left:200;opacity:1;"/>
   <img src="images/edm/edm01-03.png" left="60" top="140" width="100" mode="amz" zindex="6" style="opacity:0;" effect="left:130;opacity:1;"/>
   <img src="images/edm/edm01-01.png" width="250" left="770" top="90" mode="amz" zindex="7"  style="opacity:0;" effect="left:700;opacity:1;"/>
     </div>
  <div class="div_edm" idx="2">
	<img src="images/edm/edm-bg.png" bg="1" left="10" top="0" mode="fadin" zindex="1"/>
    <img src="images/edm/edm02-01.png" left="250" top="0" mode="fadin" zindex="10"/>
    <img src="images/edm/edm02-02.png" delay="0" left="480" top="150" mode="fadin" zindex="9"/>
    <img src="images/edm/edm02-03.png" left="280" top="330" mode="fadin" zindex="7"/>
    <img src="images/edm/edm02-04.png" left="650" top="20" mode="fadin" zindex="7"/>
    <img src="images/edm/edm02-05.png" delay="0" width="10" height="10" left="684" top="130" mode="amz" zindex="7" effect="width:264px; height:212px; opacity:1;" style="opacity:0;"/>
    <img src="images/edm/edm02-06.png" left="660" top="330" mode="fadin" zindex="7"/>
 </div>
 <div class="div_edm" idx="3">
	<img src="images/edm/edm-bg.png" delay="0" bg="1" left="10" top="0" mode="fadin" zindex="1"/>
    <img src="images/edm/edm03-01.png" delay="0" left="250" top="20" mode="fadin" zindex="7"/>
    <img src="images/edm/edm03-02.png" delay="0" width="10" left="283" top="164" mode="amz" zindex="7" effect="width:280px; opacity:1;" style="opacity:0;"/>
    <img src="images/edm/edm03-03.png" delay="0" left="600" top="200" mode="fadin" zindex="7"/>
    <img src="images/edm/edm03-04.png" left="900" top="20" mode="fadin" zindex="7"/>
 </div>
  <div class="div_edm" idx="4">
	<img src="images/edm/edm-bg.png" delay="0" bg="1" left="10" top="0" mode="fadin" zindex="1"/>
    <img src="images/edm/edm04-01.png" delay="0" left="190" top="100" mode="fadin" zindex="7"/>
	<img src="images/edm/edm04-02.png" delay="0" left="360" top="120" mode="fadin" zindex="7"/>
    <img src="images/edm/edm04-03.png" delay="0" left="500" top="120" mode="fadin" zindex="7"/>
    <img src="images/edm/edm04-04.png" delay="0" left="640" top="120" mode="fadin" zindex="7"/>
    <img src="images/edm/edm04-05.png" left="800" top="120" mode="fadin" zindex="7"/>
 </div>
  <div class="div_edm" idx="5">
	<img src="images/edm/edm-bg.png" bg="1" left="10" top="0" mode="fadin" zindex="1"/>
    <img src="images/edm/edm05-01.png" delay="0" left="190" top="40" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-04.png" delay="0" left="230" top="200" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-07.png" left="290" top="210" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-05.png" delay="0" left="350" top="120" mode="fadin" zindex="7"/>
  	<img src="images/edm/edm05-02.png" delay="0" left="390" top="40" mode="fadin" zindex="7"/>
	<img src="images/edm/edm05-04.png" delay="0" left="440" top="200" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-08.png" left="500" top="210" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-05.png" delay="0" left="550" top="120" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-03.png" delay="0" left="600" top="40" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-06.png" delay="0" left="650" top="200" mode="fadin" zindex="7"/>
    <img src="images/edm/edm05-09.png" left="760" top="40" mode="fadin" zindex="7"/>
 </div>
</div>
<script>
var edm_idx_obj = 'div.div_edm';	//--場景物件
var edm_show_time = 1000;			//物件出現間隔
var edm_delay_time = 2000;			//轉場延遲
var temp_edm_idx=1;
var temp_edm_obj=-1;
$(edm_idx_obj+':not([idx="'+temp_edm_idx+'"])').hide();
$(edm_idx_obj).find('img:not([bg="1"])').hide();
$(edm_idx_obj).find('img').css('position','absolute');
dcoo = window.setInterval("edm_idx_change()",edm_show_time);
function edm_idx_change(){
	$(edm_idx_obj+':not([idx="'+temp_edm_idx+'"])').hide();
	switch (temp_edm_obj){
		default:
			if ($(edm_idx_obj+'[idx="'+temp_edm_idx+'"]').find('img').length<=temp_edm_obj){
				temp_edm_obj = -1;
				temp_edm_idx++;
				window.clearInterval(dcoo);
				window.setTimeout("re_edm()",edm_delay_time-edm_show_time);
				return;
			}else{
				temp_edm_obj++;
			}
		break;
	}
	$(edm_idx_obj+'[idx="'+temp_edm_idx+'"]').show();
	
	now_edm_obj = $(edm_idx_obj+'[idx="'+temp_edm_idx+'"]').find('img').eq(temp_edm_obj); //-目標物件
	if ($(now_edm_obj).attr("bg")!=null){
		return edm_idx_change();
	}
	switch ($(now_edm_obj).attr("mode")){
		case "fadin":
			if ($(now_edm_obj).attr('left')!=null) $(now_edm_obj).css('left',$(now_edm_obj).attr('left')+'px');
			if ($(now_edm_obj).attr('top')!=null) $(now_edm_obj).css('top',$(now_edm_obj).attr('top')+'px');
			if ($(now_edm_obj).attr('zindex')!=null) $(now_edm_obj).css('z-index',$(now_edm_obj).attr('zindex'));
			$(now_edm_obj).fadeIn();
		break;
		case "amz":
			temp_edm_amz = new Object();
			$(now_edm_obj).show();
			if ($(now_edm_obj).attr('width')!=null) $(now_edm_obj).css('width',$(now_edm_obj).attr('width')+'px');
			if ($(now_edm_obj).attr('height')!=null) $(now_edm_obj).css('height',$(now_edm_obj).attr('height')+'px');
			if ($(now_edm_obj).attr('left')!=null) $(now_edm_obj).css('left',$(now_edm_obj).attr('left')+'px');
			if ($(now_edm_obj).attr('top')!=null) $(now_edm_obj).css('top',$(now_edm_obj).attr('top')+'px');
			if ($(now_edm_obj).attr('zindex')!=null) $(now_edm_obj).css('z-index',$(now_edm_obj).attr('zindex'));
			for (aa in $(now_edm_obj).attr('effect').split(';')){
				for (bb in $(now_edm_obj).attr('effect').split(';')[aa].split(':')){
					if ($(now_edm_obj).attr('effect').split(';')[aa].split(':')[0].trim()!='')
					temp_edm_amz[$(now_edm_obj).attr('effect').split(';')[aa].split(':')[0].trim()] = $(now_edm_obj).attr('effect').split(';')[aa].split(':')[bb];
				}
			}
			if (temp_edm_amz["opacity"]!=null) $(now_edm_obj).css('opacity',0);
			$(now_edm_obj).animate( temp_edm_amz,"slow" );
		break;
	}
	//--判斷是否無延遲
	if ($(now_edm_obj).attr("delay")!=null){
		window.clearInterval(dcoo);
		window.setTimeout("edm_delay();",$(now_edm_obj).attr("delay")*1);
		return;
	}
}
function re_edm(){
	if ($(edm_idx_obj+'[idx="'+temp_edm_idx+'"]').html()==null){//--找不到主物件回到第一層
		$(edm_idx_obj).find('img:not([bg="1"])').hide();
		temp_edm_idx = 1;
	}
		dcoo = window.setInterval("edm_idx_change()",edm_show_time);
}
function edm_delay(){
	edm_idx_change();
	window.clearInterval(dcoo);
	dcoo = window.setInterval("edm_idx_change()",edm_show_time);
}
</script>

<!--  優惠活動 、超值回饋 -->
<div class="index-main">
  <div class="index-event">
     <ul>
     	({section name=lb loop=$data.left_banner.pic})
       <li><a href="({$data.left_banner.href[lb]})"><img src="upload/bannerleft/({$data.left_banner.pic[lb]})" width="344" height="160" /></a></li>
       	({/section})
     </ul>
  </div>
  
  <div class="index-feedback">
    <h3><img src="images/index-feedback.png" width="288" height="38" /></h3>
     <ul>
     ({section name=rb loop=$data.right_banner.pic})
       <li><a href="({$data.right_banner.href[rb]})"><img src="upload/bannerright/({$data.right_banner.pic[rb]})" width="289" height="89" /></a></li>
     ({/section})
     </ul>
  </div>
  
</div>


<!--  拼點子特色、經典圖款、拼個好點子 -->
<div class="index-main">

<div class="index-pro-list01"><!-- 拼點子特色 -->
  <h3 class="title"><img src="images/index-title01.png" width="1000" height="38" /></h3>
  <ul class="clearfix">
  		({section name=gp loop=$data.gp})
      <li> <a href="({$data.gp[gp].href})"><img src="upload/gp/({$data.gp[gp].pic})" width="140" height="140" class="pro-photo" /></a>
        <h3><img src="images/index-dot-pro.png" width="12" height="12" /> ({$data.gp[gp].name})</h3>
        <p>({$data.gp[gp].detail})</p>
      </li>
      	({/section})
  </ul>
  <!--<a href="pro-list.html"><img src="images/btn-more.png" width="88" height="17" class="btn-more" /></a>-->
</div>



<div class="index-pro-list02"><!-- 經典圖款 -->
  <h3 class="title"><img src="images/index-title02.png" width="1000" height="38" /></h3>
  <ul class="clearfix">
  		({section name=cl loop=$data.classic.pic})
      <li> <a href="({$data.classic.href[cl]})"><img src="upload/classic/({$data.classic.pic[cl]})" width="140" height="140" class="pro-photo" /></a>
        <h3><img src="images/index-dot-pro.png" width="12" height="12" /> ({$data.classic.name[cl]})</h3>
      </li>
      	({/section})
  </ul>
  <!--<a href="pro-list.html"><img src="images/btn-more.png" width="88" height="17" class="btn-more" /></a>-->
</div>


<div class="index-pro-list02"><!-- 拼個好點子 -->
  <h3 class="title"><img src="images/index-title03.png" width="1000" height="38" /></h3>
  <ul class="clearfix">
  	({section name=gpc loop=$data.gpic.pic})
    <li> <a href="({$data.gpic.href[gpc]})"><img src="upload/gpic/({$data.gpic.pic[gpc]})" width="140" height="140" class="pro-photo" /></a>
      <h3><img src="images/index-dot-pro.png" width="12" height="12" /> ({$data.gpic.name[gpc]})</h3>
    </li>
    ({/section})
  </ul>
  <!--<a href="pro-list.html"><img src="images/btn-more.png" width="88" height="17" class="btn-more" /></a>-->
</div>


</div>
({/if})




({if $data.pageget.class=='news'})

<div class="main clearfix">

<div class="col-01">
  <div class="left-news">
  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">最新消息</h2>
  ({if $data.pageget.id==null})
  <div class="main-box">
        <div class="news-lis">
            <ul>
            	({section name=n loop=$data.list})
                <li><a href="index.php?class=({$data.pageget.class})&id=({$data.list[n].id})">({$data.list[n].name})</a></li>
                ({/section})
            </ul>
        </div>
        <div class="page">全部共 ({$data.row_count}) 筆 (每頁 ({$data.mount}) 筆)　　({$data.page1})　　　({$data.page3})　　前往第
          <form name="form" id="form" style="display:inline-block;">
            <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
              ({$data.page_option})
            </select>
          </form>
          頁</div>
  </div>
  ({else})
  <div class="main-box">
        <h3 class="news-title">({$data.one.name})</h3>
        <div class="news-content">
			({$data.one.detail})
        </div>
        <div class="back"><a href="javascript:window.history.back()"><img src="images/btn_back.png" width="78" height="29"></a></div>
  </div>
  ({/if})
  
</div>
   
</div>

({/if})






({if $data.pageget.class=='ac'})
<div class="main clearfix">

<div class="col-01">
  <div class="left-menu">

  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">	拼點子介紹</h2>
      
  <div class="main-box">
  	({section name=n loop=$data.list})
     <span class="content-title"><img src="images/icon_arrow02.png" width="20" height="20"> ({$data.list[n].name})</span>
     <div class="wd-font-style01">
        ({$data.list[n].detail})
     </div>
    ({/section})
  </div>
  
 </div>
   
</div>
({/if})



({if $data.pageget.class=='Customization'})
<div class="main clearfix">

<div class="col-01">
  <div class="left-menu">
    <!-- 左邊選單 -->
  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">	客製拼點子</h2>
      

  <div class="main-box">
  	({section name=m loop=$data.list})
    <span class="content-title"><img src="images/icon_arrow02.png" width="20" height="20"> ({$data.list[m].name})</span>
    <div class="wd-font-style01">
      ({$data.list[m].detail})
    </div>
    ({/section})
  </div>
  
</div>
   
</div>
({/if})


({if $data.pageget.class=='work'})
<script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="style/jquery.fancybox.css?v=2.1.5" media="screen">
<script type="text/javascript">
		$(document).ready(function() {
			$('.fancybox').fancybox();
		});
	</script>
    
<div class="main clearfix">

<div class="col-01">
  <div class="left-work">

  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">作品展示</h2>
      
     <div class="main-box">
       <ul class="work-list">
       		({section name=p loop=$data.pro.pic start=$data.pro.now_count max=$data.mount})
            <li><a href="upload/work/({$data.pro.pic[p]})" class="fancybox" data-fancybox-group="gallery"><img src="upload/work/({$data.pro.pic[p]})" class="prod-img"></a><span class="prod-name">({$data.pro.name[p]})</span></li>
            ({/section})
       </ul>
<div class="page">全部共 ({$data.row_count}) 筆 (每頁 ({$data.mount}) 筆)　　({$data.page1})　　({$data.page3})　　前往第
  <form name="form" id="form" style="display:inline-block;">
    <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
      ({$data.page_option})
    </select>
  </form>
  頁</div>
     </div>
</div>
   
</div>
({/if})



({if $data.pageget.class=='contact'})
<div class="main clearfix">

<div class="col-01">
  <div class="left-menu">

  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">聯絡我們</h2>
      


  <div class="main-box">

    <div class="contacttable">
       <div>
         ({$data.one.detail})
         <span class="contact-title"><img src="images/icon_arrow02.png" width="20" height="20"> 留下資料我們 將盡快與您聯繫</span>
       </div>
       <form action="_form_mail.php" method="post">
      <ul>
               <li><span class="td-left">* 姓名：</span><span class="td-right">
               <input name="name" type="text" class="input-style01" alt="姓名"></span></li>
               <li><span class="td-left">* 性別：</span><span class="td-right">
                     <input type="radio" name="sex" id="radio" value="男" checked="checked">
                 男
                 <input type="radio" name="sex" id="radio2" value="女">
               女</span></li>
               <li><span class="td-left">* E-mail：</span><span class="td-right">
               <input name="email" type="text" class="input-style01" alt="email"></span></li>
               <li><span class="td-left">* 地址：</span><span class="td-right">
               <input name="address" type="text" class="input-style01" alt="地址"></span></li>
               <li><span class="td-left">* 留言：</span><span class="td-right">
               <input name="msg" type="text" class="input-style01" alt="留言"></span></li>
               <li><span class="td-left">驗 證 碼 : </span><span class="td-right"><input name="code" id="code" type="text" class="input-style01" size="10" maxlength="4" alt="認證碼"> 
                 <img src="verifycode.php" id="code_img" width="52" height="22" /> 
                 <a href="javascript:v_click();" class="reset">刷新驗證碼</a> (請輸入圖片中的數字或字母)</span></li>	
                 <script>
				 function v_click(){
					 document.getElementById('code_img').src = document.getElementById('code_img').src;
				 }
				 
				 
				var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
				var check_array = ['form input[type="text"]']; //--要檢查空值得陣列物件
				var erro_msg;
				var check_star = 0;
				function checkform(){
					erro_msg='';
					for(aa in check_array){
						$(check_array[aa]).each(function(idx,data){
							$(data).parent().find('[vail="vail"]').remove();//--先移除後方的*字號
							if ($(data).attr('alt')!=null&&($(data).val()==''||$(data).val()==null)) {
								if (check_star) $(data).parent().append('<font vail="vail" color="red">*</font>');
								erro_msg += $(data).attr('alt')+' 欄位不可為空值!!\n';
							}else if ($(data).attr('name')=='email' && !reg.test($(data).val())) {
								if (check_star) $(data).parent().append('<font vail="vail" color="red">*格式錯誤</font>');
								erro_msg += $(data).attr('alt') + '格式不正確!!\n';
							}
						 });
					}
					if (erro_msg=='')
						$('form').submit();
					else
						alert(erro_msg);
					
				}
				 </script>
        </ul>
        </form>
        <div style="padding:10px 0 10px 100px; height:50px; clear:both;"> <a href="javascript:checkform();" class="btn-style01">送出資料</a><a href="javascript:window.location.reload();" class="btn-style02">重新填寫</a> </div>
       </div>
       

       <div class="contect-map">
          ({$data.one.memo})
       </div>
  </div>
  
  </div>
   
</div>
({/if})





({if $data.pageget.class=='product'})
<div class="main clearfix">

<div class="col-01">
  <div class="left-menu">

    <img src="images/catalog-title.png" width="228" height="18" class="left-title">
<ul>
	({section name=l loop=$data.list})
    	({if $data.list[l].menu_list!=null||$data.list[l].id=='133'})
	 <li> <span class="nav-catal"><a href="javascript:pro_openmenu('({$smarty.section.l.index})');">({$data.list[l].name})</a></span>
        <ul class="sub" menu="({$smarty.section.l.index})" style="display:none;">
        	({section name=l2 loop=$data.list[l].menu_list})
          <li><a id="a_({$data.list[l].menu_list[l2].id})" href="index.php?class=product&cate=({$data.list[l].menu_list[l2].id})">({$data.list[l].menu_list[l2].name})</a></li>
          	({/section})
            ({if $data.list[l].id=='133'})
            <li><a href="index.php?class=color_pro">色豆片</a></li>
            ({/if})
        </ul>
      </li>
	    ({else})
       <li><span class="nav-catal"><a href="index.php?class=product&cate=({$data.list[l].id})">({$data.list[l].name})</a></span></li>
        ({/if})
	({/section})
    </ul>
    <ul>
  </div>
</div>
<script>
//
if ('({$data.pageget.cate})'!=''){
	$('#a_({$data.pageget.cate})').parent().parent().show();
}
function pro_openmenu(obj){
	if ($('.sub[menu="'+obj+'"]').css("display")=='none'){
		$('.sub[menu="'+obj+'"]').show();
	}else{
		$('.sub[menu="'+obj+'"]').hide();
	}
}
</script>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">線上購物</h2>
      
	({if $data.pageget.id==null})
     <div class="main-box">
		<ul class="commodity-list clearfix">
		({section name=p loop=$data.product})
            <li> <a href="index.php?class=product&id=({$data.product[p].id})"><img src="upload/products/({$data.product[p].pic})" width="140" height="140" class="prod-img"></a>
                <span class="prod-name"><a href="index.php?class=product&id=({$data.product[p].id})">({$data.product[p].name})</a></span>
                <span class="prodtext">({$data.product[p].memo_1})</span>
                <span class="price"> NT $({$data.product[p].price2})</span>
                <a href="javascript:addpro('({$data.product[p].id})');"><img src="images/btn_add_cart.png" width="144" height="28"></a>
                <div class="check-out-box" id="checkbox_({$data.product[p].id})" style="display:none;">
                    您已增加 “({$data.product[p].name})”到購物車
                    <div style="padding:10px 0 10px 0px;"> <a href="shopping.php?list=1" class="btn-style02">結 帳</a><a href="javascript:checkbox('close');" class="btn-style01">繼續購物</a> </div>
                </div>
        </li>
        ({/section})
       </ul>
       ({if $data.product})
       <!--
        <div class="page">全部共 ({$data.row_count}) 筆 (每頁 ({$data.mount}) 筆)　　({$data.page1})　　({$data.page3})　　前往第
          <form name="form" id="form" style="display:inline-block;">
            <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
				({$data.page_option})
            </select>
          </form>
          頁</div>
          -->
        <div class="page">({$data.page.wd_page})</div>
        <script>
		$('.page-btn').addClass('btn');
		$('a[r="lock"]').css('color','#000');
		$('a[r="lock"]:first').css('color','#fff');
		$('a[r="lock"]:last').css('color','#fff');
		</script>
		({/if})  
     </div>
     ({else})
     <div class="main-box">
       <div class=" commodity-detail">
         <h3 class="pro-title">({$data.one.name})</h3>
         <div class="detail-box clearfix">
          
             <div class="pro-photo" style=" overflow:hidden;">
               <img src="upload/products/({$data.one.pic})" width="322">
             </div>
             
             <div class="pro-format">
                 <span class="rula">規格內容</span>
                 	({$data.one.memo})
<div class="pro-tool"><!--售價 / 購物車 -->
                       <span class="price">價格：({$data.one.price2})元</span>
                    <a href="javascript:share_fb();"><img src="images/btn_fb.png" width="25" height="25"></a>
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="display:none;">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_4"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true, ui_email_to: '({$web_set.receive_email})',ui_email_note:'關於 ({$data.one.name}) 商品問題:'};// ui_email_from: 'me@yahoo.com',</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52facd6f0df6ceb0"></script>
                                <!-- AddThis Button END -->
                    <a href="shopping.php?addpro=({$data.one.id})"><img src="images/btn_add_cart02.png" width="127" height="25"></a>
               </div>
             </div>
          </div>
          
          <div class="pro-content">
          ({$data.one.detail})
          </div>
       </div>
       <div class="back"><a href="javascript:window.history.back()"><img src="images/btn_back.png" width="78" height="29"></a></div>
     </div>
     ({/if})
</div>
   
</div>
<script>
function addpro(id){
	    $.ajax( {
			url: "shopping.php",
			data: {addpro:id,ajax:1},
			type:"GET",
			dataType:'text',
			async: false,
			success: function(msg){
				switch (msg){
					case "ok":
						$('div#checkbox_'+id).show();
					break;
					case "login_erro":
						window.location.href='member.php?act=login';
					break;
				}
			}
		});
}
function checkbox(){
	$('div.check-out-box').hide();
}

function share_fb(){
	 $('.at300bs.at15nc.at15t_facebook').click();
}
</script>
({/if})







({if $data.pageget.class=='color_pro'})
<div class="main clearfix">

<div class="col-01">
  <div class="left-menu">

    <img src="images/catalog-title.png" width="228" height="18" class="left-title">
<ul>
	({section name=l loop=$data.list})
    	({if $data.list[l].menu_list!=null||$data.list[l].id=='133'})
	 <li> <span class="nav-catal"><a href="javascript:pro_openmenu('({$smarty.section.l.index})');">({$data.list[l].name})</a></span>
        <ul class="sub" menu="({$smarty.section.l.index})" style="display:none;">
        	({section name=l2 loop=$data.list[l].menu_list})
          <li><a id="a_({$data.list[l].menu_list[l2].id})" href="index.php?class=product&cate=({$data.list[l].menu_list[l2].id})">({$data.list[l].menu_list[l2].name})</a></li>
          	({/section})
            ({if $data.list[l].id=='133'})
            <li><a href="index.php?class=color_pro">色豆片</a></li>
            ({/if})
        </ul>
      </li>
	    ({else})
       <li><span class="nav-catal"><a href="index.php?class=product&cate=({$data.list[l].id})">({$data.list[l].name})</a></span></li>
        ({/if})
	({/section})
    </ul>
    <ul>
  </div>
</div>
<script>
//
if ('({$data.pageget.cate})'!=''){
	$('#a_({$data.pageget.cate})').parent().parent().show();
}
function pro_openmenu(obj){
	if ($('.sub[menu="'+obj+'"]').css("display")=='none'){
		$('.sub[menu="'+obj+'"]').show();
	}else{
		$('.sub[menu="'+obj+'"]').hide();
	}
}
</script>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">線上購物</h2>
      <!--main box-->
      <div class="main-box">
       <div class="color-part">
       
       <div class="color-sqare-note">
         <h2>色豆片(Pixel Squares)<font size="0"> 單價每片:({$data.pro.detail.3})元</font></h2>
         <font size="0">是讓您在拼點子底板上拼出圖像的主要元素,每片有140顆色豆。下面是拼點子共312種顏色的所有色豆片(Pixel Squares),從100~553號(號碼非連續),在色號下方的空格填上您需要的數量,全部挑選好再按下最下方的加入購物車即可。</font></div>
       
       
          <ul class="clearfix">
          	({section name=m loop=$setup.color})
             <li>
               <span class="color-code">color-({$setup.color[m].name})</span>
               <div class="color-box" style="background:({$setup.color[m].detail})"></div>
               數量
               <input name="por_({$smarty.section.m.index})" color_id="({$smarty.section.m.index})" type="text" class="color-input" value="0" pro_name="({$setup.color[m].name})" price="({$data.pro.detail.3})">
             </li>
            ({/section})
          </ul>
       </div>
       <div style="clear:both; padding:20px; text-align:center;"><a href="javascript:add_pro_orther();"><img src="images/btn_add_cart.png" width="144" height="28"></a></div>
     </div>
	  <!--main box end-->
	</div>
   
</div>
<script>
$('a[href="index.php?class=color_pro"]').parent().parent().show();
function add_pro_orther(){
	var color_pro_ajax_str ='';
	var temp_price = '';
	var temp_count = '';
	var temp_name = '';
	$('li input.color-input').each(function (idx,obj){
		if ($(obj).val()!='0'){
			if (temp_price!='') temp_price +=',';
			if (temp_count!='') temp_count +=',';
			if (temp_name!='') temp_name +=',';
			temp_name += $(obj).attr('pro_name');
			temp_count += $(obj).val();
			temp_price += $(obj).attr('price');
		}
	});
	$.ajax( {
		url: "shopping.php",
		data: {addoth:1,value:temp_price,count:temp_count,name:temp_name,ajax:1},
		type:"GET",
		dataType:'text',
		async: false,
		success: function(msg){
			color_pro_ajax_str += msg +'\n';
			//--未登入訊息
			if (msg=='login_erro'){
				return alert('以為您保存購物內容!!\n登入後才可以加入購物車');
			//	return window.location.href='member.php?act=login';
			}else{
				return alert(msg);
			}
		}
	});
}
</script>
({/if})