<div class="main clearfix">

<div class="col-01">
  <div class="left-work">

  </div>
</div>
   
     <div class="col-02">
      <h2 class="page-title"><img src="images/pages-title-dot.png" width="25" height="25" class="dot">購物車</h2>
      

     <div class="main-box">
     
     <!-- 訂單列表 -->
       <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cart-format">
         <tbody><tr>
	       <th width="5%"><input type="checkbox" id="select_all"></th>
           <th width="120">圖片</th>
           <th>產品名稱                                                      </th>
           <th width="70">數量</th>
           <th width="70">單價 </th>
           <th width="70">小計 </th>
           <th width="50" class="last">&nbsp;</th>
         </tr>
         ({section name=cl loop=$data.car})
         <tr>
           <td><input type="checkbox" class="del_box" value="({$data.car[cl].shopping_car_list_id})"></td>
           <td>({if $data.car[cl].pic.0!=null})<img src="upload/products/({$data.car[cl].pic.0})" class="pro-photo">({/if})</td>
           <td><a href="#">({$data.car[cl].name})</a></td>
           <td><input type="text" size="3" onkeyup="this.value=this.value.replace(/\D/g,'');" id="change_({$data.car[cl].shopping_car_list_id})" value="({$data.car[cl].count})" onblur="change_procount('({$data.car[cl].shopping_car_list_id})')"></td>
           <td>({$data.car[cl].price2})</td>
           <td>({$data.car[cl].price2*$data.car[cl].count})</td>
           <td class="last"><a href="?del=({$data.car[cl].shopping_car_list_id})"><img src="images/icon_trash.png" width="22" height="26"></a></td>
         </tr>
         ({/section})
       </tbody></table>
       <script>
	   function change_procount($value){
            $.ajax( {
                url: "shopping.php",
                data: {editpro:$value,count:$('#change_'+$value).val(),ajax:1},
                type:"GET",
                dataType:'text',
				async: false,
                success: function(msg){
                    alert(msg);
					window.location.reload();
                }
            });
	   }
	   function class_del(){
		   var temp_str = '';
		   $('input[class="del_box"]').each(function (idx,obj){
				if ($(obj)[0].checked==true){
					if (temp_str!='') temp_str += ',';
					temp_str +=$(obj).val();
				}
			})
		   if (temp_str!='' && confirm('確定要刪除所選取的項目?')){
			   window.location.href='?del='+temp_str;
		   }
	   }
	    $('#select_all').change(function (){all_select();})
	   function all_select(){
		   $('input[class="del_box"]').each(function (idx,obj){
				$(obj)[0].checked=$('#select_all')[0].checked;
			});
	   }
	   </script>
       
       <!-- 小計 -->
       <div class="Subtotal">
          <img src="images/car.png" width="32" height="20" style="vertical-align:middle;"> 運費  : ({$data.order.post_fee})   <span class="price">合計 : $({$data.order.total+$data.order.post_fee})</span>  <a href="javascript:class_del();">批量刪除<img src="images/icon_trash.png" width="22" height="26"></a>
       </div>
     
     <div style="padding:10px 0 10px 0px; border-bottom:1px #CCC dotted"><a href="javascript:addbox();" class="btn-style03">+ 配件加購</a></div>
     
     <div listbutton="1" style="padding:10px 0 10px 450px; height:50px; clear:both; text-align:">
         <a href="javascript:history.back()" class="btn-style01">回上一步</a> <a href="javascript:pay_on();" class="btn-style02">結  帳</a>
     </div>
     <script>
	 function pay_on(){
		 $('[listbutton]').hide();
		 $('[paytable]').show();
	 }
	 </script>
     
     
     <!--結帳按鈕頁面-->
     <div style="display:none;" paytable="1">
       <h3 class="from-title">
        <img src="images/icon_cart.png" width="20" height="18"> 基本資料 <span class="Comment">*號為必填項目</span>
       </h3>
       
       <div class="cart-forms">
           <ul>
               <li><span class="td-left">* 收件人：</span><span class="td-right"><input id="recive_name" type="text" class="input-style01" value="({$data.member_info.name})"></span></li>
               <li><span class="td-left">* 性別：</span><span class="td-right">({$data.member_info.sex_html})<input id="recive_sex" type="hidden" class="input-style01" value="({$data.member_info.sex})"></span></li>
               <li><span class="td-left">* 收件地址：</span><span class="td-right"><input id="recive_address" type="text" class="input-style01" value="({$data.member_info.address})"></span></li>
               <li><span class="td-left">* 電話號碼：</span><span class="td-right"><input id="phone" type="text" class="input-style01" value="({$data.member_info.phone})"></span></li>
               <li><span class="td-left">* e-mail：</span><span class="td-right"><input id="recive_email" type="text" class="input-style01" value="({$data.member_info.email})"></span></li>
           </ul>
       </div>
     </div>
     
     <div style="display:none;" paytable="1">
       <h3 class="from-title">
           <img src="images/icon_cart.png" width="20" height="18"> 收件人資料
           <input type="checkbox" name="checkbox" onclick="samedata();" id="checkbox">
           <script>
		   function samedata(){
			   if ($('#checkbox:checked').length>0){
				   $('form input[type="text"]').each(function(idx,obj){
						$(obj).val($('#'+$(obj).attr("name")).val());
					});
				   $('[name="recive_sex"][value="'+$('#recive_sex').val()+'"]')[0].checked = true;
			   }
		   }
		   </script>
          <span class="title-font01">同基本資料 </span><span class="Comment">*號為必填項目</span>
       </h3>
       
       <div class="cart-forms">
       	<form id="form1" action method="post" target="_blank">
           <ul>
               <li><span class="td-left">* 收件人 ：</span><span class="td-right"><input name="recive_name" type="text" class="input-style01" alt="收件人"></span></li>
               <li><span class="td-left">* 性別 ：</span><span class="td-right"><input type="radio" name="recive_sex" value="1" alt="性別">
                 男
                 <input type="radio" name="recive_sex" value="2">
               女</span></li>
               <li><span class="td-left">* 收件地址 ：</span><span class="td-right"><input name="recive_address" type="text" class="input-style01" alt="收件地址"></span></li>
               <li><span class="td-left">* 電話號碼 ：</span><span class="td-right"><input name="phone" type="text" class="input-style01" alt="電話號碼"></span></li>
               <li><span class="td-left">* e-mail ：</span><span class="td-right"><input name="recive_email" type="text" class="input-style01" alt="email"></span></li>
               <li><span class="td-left">* 付款方式 ：</span><span class="td-right">
                 <input type="radio" name="paycardmode" value="3">
                 ATM轉帳
                 <input type="radio" name="paycardmode" value="1" alt="付款方式">
                 線上刷卡
                 <input type="radio" name="paycardmode" value="2">
                 超商代碼付款</span>
               </li>
               <li><span class="td-left">  備註 ：</span><span class="td-right">
                 <textarea name="memo" cols="50" rows="5" class="textarea-style01"></textarea>
               </span></li>
           </ul>
        </form>
       </div>
     </div>
     
     <div paytable="1" style="display:none;padding:10px 0 10px 150px; height:50px; clear:both;"><span style="padding:10px 0 10px 150px; height:50px; clear:both; text-align:">
     <a href="javascript:history.back()" class="btn-style01">回上一步</a></span><a href="javascript:checkform();" class="btn-style02">結  帳</a>
     </div>
     <!--結帳按鈕頁面END-->
     
     
     </div>
     
     
     
     <!-- 加購視窗 -->
     <div class="add-box" style="display:none;">
     	<form id="add_form" method="get">
       <img src="images/btn-close.png" width="16" height="16" class="add-close " onclick="addbox('close')">
       	({section name=m loop=$data.addpro})
       <h3 class="add-list-title"> <img src="images/icon_cart.png" width="20" height="18"> ({$data.addpro[m].name})  </h3>
       <ul class="add-list clearfix">
       		({section name=n loop=$data.addpro[m].product})
         <li><a href="index.php?class=product&id=({$data.addpro[m].product[n].id})" ><img src="upload/products/({$data.addpro[m].product[n].pic.0})" class="prod-img"></a><span class="prod-name">
         <input type="checkbox" value="({$data.addpro[m].product[n].id})">
         ({$data.addpro[m].product[n].name})</span></li>
         	({/section})
       </ul>
       ({/section})
       <div><input type="button" value="確定" onclick="add_form_submit()"><input type="button" value="取消" onclick="addbox('close');"></div>
       </form>
       <script>
	   function add_form_submit(){
		   var temp_qstr='';
		   $('#add_form input[type="checkbox"]:checked').each(function(idx,obj){
				if (temp_qstr!='') temp_qstr +=',';
				temp_qstr += $(obj).val();
			});
		   if ($('#add_form input[type="checkbox"]:checked').length>0 && confirm('您確定要購買這 '+$('#add_form input[type="checkbox"]:checked').length+'商品?')){
			   window.location.href = 'shopping.php?addpro='+temp_qstr;
			}
			addbox('close');
	   }
	   </script>
     </div>
</div>
   
</div>

<script>
var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
var check_array = ['form input']; //--要檢查空值得陣列物件
var erro_msg;
var check_star = 0;
function checkform(){
	erro_msg='';
	for(aa in check_array){
		$(check_array[aa]).each(function(idx,data){
			if ($(data).attr('alt')!=null&&($(data).val()==''||$(data).val()==null)) {
				erro_msg += $(data).attr('alt')+' 欄位不可為空值!!\n';
			}else if ($(data).attr('name')=='recive_email' && !reg.test($(data).val())) {
				erro_msg += $(data).attr('alt') + '格式不正確!!\n';
			}
			if ($(data).attr('alt')!=null&&$(data).attr("type")=='radio'){
				if ($(check_array[aa]+'[name="'+$(data).attr("name")+'"]:checked').length<=0) erro_msg += $(data).attr('alt')+' 必須選擇一項\n';
			}
		 });
	}
	if (erro_msg==''){
		$('#form1').submit();
		window.setTimeout("urlback()",3000);
	}else{
		alert(erro_msg);
	}
	
}
function urlback(){
	window.location.href = '/';
}

function addbox(act){
	switch (act){
		case "close":
			$('.add-box').fadeOut();
		break;
		
		default:
			$('.add-box').fadeIn();
		break;
	}
}
</script>